{% load static %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'acervo/css/index.css' %}">
{% endblock %}

{% block 'conteudo' %}

<div class="principal">
  <div class="secundaria">
    <div class="sub">
      <div class="header">
        <h5 class="title">GAP</h5>
      </div>
      <div class="principal-body">
        <p>O GAP (Gerenciamento de Acervo Pessoal), é uma solução inovadora para organizar e preservar 
            seus itens. Com a plataforma, você pode criar um catálogo detalhado dos seus objetos. 
            Além disso, com uma interface intuitiva e de fácil utilização permite que você navegue 
            facilmente pelo seu acervo, faça buscas rápidas e compartilhe suas coleções com seus contatos.
            Liberte-se da desordem física e desfrute da conveniência de um acervo pessoal digital. 
            Bem-vindo à nova era do gerenciamento de acervo pessoal!</p>
      </div>
      <div class="principal-footer">
        <a href="{% url 'acervo:login' %}" class="entrar">Entrar</a>
        <a href="{% url 'acervo:cadastro' %}" class="cadastro">Cadastrar-se</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}