{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'acervo/css/base.css' %}">
{% endblock %}

{% block 'conteudo' %}

<main class="container" style="padding-bottom: 80px;">

    <h4 style="margin-top:30px">Editar livro - {{livro.titulo}}</h4>

    <form style="margin-top:30px" action="{% url 'acervo:livro_detalhes' pk=livro.id %}" method="post">{% csrf_token %}
        <div class="row g-3">
            <div class="col">
                <input name="titulo" type="text" class="form-control" placeholder="Título: {{livro.titulo}}" aria-label="Título">
            </div>
            <div class="col">
                <input name="autor" type="text" class="form-control" placeholder="Autor: {{livro.autor}}" aria-label="Autor">
            </div>
            <div class="col">
                <input name="ano" type="text" class="form-control" placeholder="Ano: {{livro.ano}}" aria-label="Ano">
            </div>
        </div>
        <input style="margin-top:30px" class="btn btn-dark btn-sm"  type="submit" value="Atualizar">
        <a href="/home/"  style="margin-top:30px" class="btn btn-outline-dark btn-sm"> << voltar</a>
    </form>

</main>

{% endblock %}