@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
    text-align: center;
    color: red;
    margin-bottom: 18px;
}

.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 darkgray;
}

h1 {
  font-size: 28px;
  margin-top: 30px;
}

.form {
  position: absolute;
  margin-top: 80px;
  width: 300px;
}

input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  width: 100%;
  box-shadow: 0 0 2px 0;
}

button {
  background: #198754;
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iUser {
  top: 40px;
}

.iPassword {
  top: 114px;
}

.cadastro {
  text-align: center;
}

a {
    text-decoration: none;
}